.content {
  margin: 50px 10px 80px;
}

.content__list {
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-items: center;
}

.content__button_open {
  width: 100%;
  margin: 80px auto;
  box-sizing: border-box;
  background-color: #F4F4F4;
  border-radius: 6px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 11px 0 9px;
}

.content_none {
  display: none;
}

@media (min-width: 768px) {
  .content {
    margin: 80px 30px;
  }

  .content__list {
    gap: 36px 30px;
  }
}

@media (min-width: 1280px) {
  .content {
    margin: 80px 70px;
  }

  .content__list {
    gap: 32px 20px;
  }

  .content__button_open {
    margin: 30px 10px;
  }
}