.profile {
  width: 100%;
  margin: 70px auto 40px;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 410px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile__header {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 81px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-block {
  width: 100%;
  margin: 0 0 285px;
}

.profile__data-block {
  display: flex;
  overflow: hidden;
  padding: 0;
  border-bottom: 1px solid #E8E8E8;
}

.profile__data-block:last-child {
  border: none;
  margin: 0;
}

.profile__data-type {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.profile__user-data {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  border: none;
  padding: 0 0 16px 15px;
  background-color: inherit;
  align-self: baseline;
  text-align: end;
  width: 100%;
}

.profile__logout {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #EE3465;
  width: 100%;
  margin: 22px 0 0;
  background-color: inherit;
}

@media (min-width: 768px) {
  .profile {
    margin: 237px auto;
    padding: 0;
  }

  .profile__header {
    margin: 0 0 95px;
  }

  .profile__edit-block {
    margin: 0 0 117px;
  }
}

@media (min-width: 1280px) {
  .profile {
    margin: 74px auto;
  }

  .profile__header {
    margin: 0 0 124px;
  }

  .profile__edit-block {
    margin: 0 0 124px;
  }
}