.authorization {
  margin: 55px auto 30px;
  max-width: 260px;
}

.authorization__logo {
  margin: 0 auto;
  display: block;
  width: 38px;
  height: 38px;
}

.authorization__header {
  text-align: center;
  margin: 50px 0 80px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}

.authorization__input-name {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #A0A0A0;
  margin: 0 0 10px;
  display: block;
}

.authorization__input {
  background-color: #F4F4F4;
  border-radius: 8px;
  max-width: 396px;
  width: 100%;
  padding: 15px;
  border: none;
  box-sizing: border-box;
  margin: 0 0 20px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
}

.authorization__input:last-of-type {
  margin: 0 0 182px;
}

.authorization__input:focus {
  outline: none;
}

.authorization__error {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #EE3465;

  margin: 10px 0 20px;
  text-align: center;
}

.input-err-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #EE3465;
  display: inline-block;
  margin: 10px 0 20px;
}

input[name="password"] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.authorization__button {
  max-width: 260px;
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: #3456F3;
  border-radius: 3px;
  color: white;
  margin: 0 auto 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
}

.authorization__button:hover {
  opacity: 0.8;
}

.authorization__button_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.authorization__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  margin: 14px 0;
  text-align: center;
  color: #A0A0A0;
  display: inline-block;
  width: 100%;
}

.authorization__link-span {
  color: #3456F3;
  margin-left: 7px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .authorization {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .authorization {
    max-width: 396px;
  }

  .authorization__logo {
    margin: 0;
  }

  .authorization__header {
    font-size: 24px;
    text-align: left;
    margin: 40px 0 41px;
    width: 100%;
  }

  .authorization__button {
    font-size: 14px;
    line-height: 1.2;
    max-width: 396px;
  }

  .authorization__input:last-of-type {
    margin: 0 0 91px;
  }

  .authorization__link {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media (min-width: 1280px) {
  .authorization {
    margin: 69px auto;
  }
}