.main__header {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid black;
  padding: 0 0 28px;
  margin: 0 0 60px;
  width: 100%;
}

.main__text {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  margin: 0;
}

.main__text_center {
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
  margin: 0 auto;
}

.main__text_bold {
  font-weight: 500;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .main__header {
    font-size: 22px;
    line-height: 27px;
    padding: 0 0 23px;
    margin: 0 0 68px;
  }

  .main__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 1280px) {
  .main__text {
    font-size: 14px;
    line-height: 20px;
  }

  .main__text_bold {
    font-size: 18px;
    line-height: 20px;
  }

  .main__text_sparse {
    line-height: 22px;
  }
}