.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}

.header_none {
  display: none;
}

.header__logo {
  width: 38px;
  height: 38px;
  margin-left: 0;
  margin-top: 18px;
  margin-bottom: 18px;
}

.header__login {
  font-size: 10px;
  line-height: 1.6;
  font-weight: 500;
  margin: auto 30px auto 0;
}

.header__signin-button {
  background-color: #3456F3;
  border-radius: 3px;
  border: none;
  color: white;

  font-weight: 500;
  font-size: 10px;
  line-height: 1.6;
  padding: 5px 12px;
}

@media (min-width: 768px) {
  .header__login {
    font-size: 12px;
    line-height: 1.3;
  }

  .header__signin-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    padding: 8px 20px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding: 0 30px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 0 70px;
  }
}