.authorization__input-name {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #A0A0A0;
  margin: 0 0 10px;
  display: block;
}

.authorization__input {
  background: #F4F4F4;
  border-radius: 8px;
  max-width: 260px;
  width: 100%;
  padding: 15px;
  border: none;
  box-sizing: border-box;

  margin: 0 0 20px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
}

.authorization__input:last-of-type {
  margin: 0;
}

.authorization__input:focus {
  outline: none;
}

.input-err-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #EE3465;
  display: inline-block;
  margin: 10px 0 20px;
}



input[name="password"] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


@media (min-width: 768px) {
  .authorization__input {
    max-width: 396px;
  }


}